body {
  margin: 0;
  padding-left: 400px;
  padding-right: 400px;
  overflow: auto;
  box-sizing: border-box;
  background-color: #f9ffec;
}

h1,
h2,
h3,
p {
  text-align: center;
}

div {
  border: 5px solid black;
  border-radius: 30px;
  padding: 50px;
}
.top {
  font-size: 40px;
  color: white;
  margin: 0;
}

.work {
  text-align: center;
  background-color: #007e5e;
  border-radius: 30px;
  padding: 10px;
}

#result,
#category {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.weight {
  font-size: 24px;
}
.height {
  font-size: 24px;
}

#btn {
  margin: 15px;
  padding: 15px 40px;
  background-color: #f09d0b;
  border-radius: 15px;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
}
#btn:hover {
  background-color: #bfef3a;
  color: #000;
  cursor: pointer;
  transition: 0.3s;
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.2rem;
  }

  body {
    padding: 1rem;
  }

  #weightInput,
  #heightInput {
    width: 40%;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  p {
    font-size: 1rem;
  }

  body {
    padding: 0.5rem;
  }

  #weightInput,
  #heightInput {
    margin-bottom: 0.5rem;
  }
}
